/*Cool fonts to use: Catamaran, SIMPLIFICA, Signika, Dosis*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@400;700&display=swap");

* {
  transition: 3s ease-in-out;
}

body {
  background: linear-gradient(to bottom right, aqua, blue);
  background-attachment: fixed;
  font-family: "Nunito", "Open Sans", sans-serif;

  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h1 {
  text-align: center;
  color: black;
  font-size: 4rem;
  font-weight: bold;
}

#color {
  width: 100%;
  height: 30vh;
  background: none;
  outline: black solid;
  border: none;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 2rem;
}

#color::-webkit-color-swatch-wrapper {
  padding: 0;
}

#color::-webkit-color-swatch {
  border: none;
}

#mainer {
  width: 80%;
}

#resultsContainer {
  margin-top: 2rem;
  padding: 2rem;
}

#result1,
#result2,
#result3 {
  background: black;
  color: white;
  padding: 5px;
  line-height: 50px;
  text-align: center;
  user-select: all;
  border-radius: 2rem;
}
